.colorBox {
  width: 3vw;
  height: 3vw;
}

.colorGenerator {
  display: flex;
}

.colorGeneratorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1vw;
  font-family: 'Inter, system-ui, Avenir, Helvetica, Arial', sans-serif;
}

.highlightedColorBox {
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
}

.colorNumber {
  margin-top: 5px;
}
