.colorGenerator {
  display: flex;
}

.colorGeneratorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1vw;
  font-family: 'Inter, system-ui, Avenir, Helvetica, Arial', sans-serif;
}

.colorBox {
  width: 3vw;
  height: 3vw;
  transition: transform 0.2s ease;
}

.highlightedColorBox {
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  transition: transform 0.2s ease;
}

.colorBox:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.highlightedColorBox:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.colorInfo {
  display: none;
  position: relative;
  width: fit-content;
  height: fit-content;
  top: calc(-100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 7px;
}

.colorInfo:hover {
  display: block;
}

.colorBox:hover .colorInfo {
  display: block;
}

.highlightedColorBox:hover .colorInfo {
  display: block;
}

.colorNumber {
  margin-top: 5px;
}

.errorMessage {
  color: var(--fds-semantic-surface-danger-default);
  font-size: 0.9rem;
}
