.designMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 35%;
  background-color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.colorPickerMenu {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.actionColorPickerMenu {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c4c4c4;
  margin-top: 10px;
  margin-bottom: 20px;
}

.addColorPickerButton {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
