.designMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 35%;
  background-color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.colorPickerContainer {
  margin: 1rem;
}

.colorPickerMenu {
  display: flex;
  flex-direction: column;
}

.addColorPickerButton {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
