.component {
  margin: 3rem;
  align-self: center;
}

.componentContainer {
  display: flex;
  min-height: 20vh;
  height: fit-content;
  justify-content: center;
}

.componentSelect {
  margin: 1rem;
}

.componentSelect select {
  border: 1px solid var(--fds-colors-blue-900);
  border-radius: 4px;
}

.componentSelect:hover select:not(:focus-visible, :disabled, [aria-disabled]):hover {
  box-shadow: inset 0 0 0 1px var(--fds-colors-blue-700);
  border: 1px solid var(--fds-colors-blue-700);
}
