.actionColorPicker {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  font: var(--fds-typography-paragraph-medium);
  font-family: 'Inter, system-ui, Avenir, Helvetica, Arial, sans-serif', sans-serif;
  color: var(--tv-font-color);
}

.actionColorLabel {
  display: flex;
  justify-content: space-between;
}
