.codeOutputContainer {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: #dcdcaa;
  padding: 16px;
  border-radius: 4px;
  font-family: 'Courier New', 'Courier', monospace;
  overflow-x: auto;
  margin-bottom: 10px;
}

.codeGeneratorModal {
  border-radius: 4px;
}

.codeGeneratorModal h2 {
  color: var(--tv-font-color);
}

.tokenName {
  color: #4ec9b0;
}

.tokenValue {
  color: #ce9178;
}

.copyToClipboard {
  display: flex;
  justify-content: end;
}

.copyButtonIcon {
  color: #bebebe;
  padding: 0.5rem;
  cursor: pointer;
}

.copyButtonIcon:hover {
  color: white;
}

.generateCodeButton {
  align-self: center;
  margin: 2rem;
}

.closeModalBtn button {
  background-color: transparent;
  color: var(--fds-colors-blue-800);
  border-radius: 4px;
}

.generateCodeButton button {
  background-color: var(--fds-colors-blue-900);
  border-radius: 4px;
}

.closeModalBtn:hover button:hover {
  background-color: var(--fds-colors-blue-100);
  color: var(--fds-colors-blue-900);
}

.generateCodeButton:hover button:hover {
  background-color: var(--fds-colors-blue-800);
}

.generateCodeButton:active button:active {
  background-color: var(--fds-colors-blue-900);
}
