.componentsPreviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: white;
  overflow: auto;
  margin-bottom: 3rem;
  border-radius: 8px;
  width: 90%;
}

.previewAreaContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  align-items: center;
  width: 100%;
}
