.componentsPreviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 8px;
  width: 90%;
  box-shadow: 0 0 40px lightgray;
}

.previewAreaContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  align-items: center;
  width: 100%;
}
