:root {
  font-family: 'Inter', system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --tv-border-color: #c4c4c4;
  --tv-font-color: #1e2b3c;
  --tv-background-color: #efefefef;
}

body {
  margin: 0;
}
