:root {
  font-family: 'Inter', system-ui, 'Avenir', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --tv-border-color: #c4c4c4;
  --tv-font-color: #1e2b3c;
  --tv-background-color: #f5f5f5ef;
  --tv-composite-component-color-1: var(--fds-brand-alt2-300);
  --tv-composite-component-color-2: var(--fds-brand-alt2-400);
}

body {
  margin: 0;
}
