.fontFamilySelector {
  display: flex;
  flex-direction: column;
}

.fontFamilySelectorLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
