.fontFamilySelector {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fontFamilySelectorLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}

.fontFamilySelector input {
  border-radius: 4px !important;
}
