.componentsPreviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: white;
  padding: 0;
  margin: 5rem;
  overflow: hidden;
  width: 70%;
}

.tagComponent {
  display: flex;
}

.cardComponent {
  display: flex;
  justify-content: space-around;
}
