.compositeComponentContainer {
  background-color: #ffeee1;
  padding: 2rem;
  color: var(--fds-semantic-text-neutral-default);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.svgContainer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svgImage {
  width: 100%;
  height: 100%;
}

.buttonContainer {
  align-self: end;
}

.textContainer {
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.triangle {
  position: relative;
  rotate: 180deg;
}
