.compositeComponentContainer {
  background-color: var(--fds-semantic-surface-second-light);
  padding: 2rem;
  color: var(--fds-semantic-text-neutral-default);
}

.buttonContainer {
  align-self: end;
}

.textContainer {
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.triangle {
  position: relative;
  rotate: 180deg;
}
