.colorPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.colorPickerInputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.removeColorPickerButton {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.colorPickerInput {
  width: 30%;
  margin: 5px;
}
