.borderRadiusSelectMenu {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-bottom: 1.5rem;
  align-items: baseline;
  font-size: medium;
  color: black;
}

.borderRadiusSelectInput {
  display: flex;
  width: 100%;
  align-items: center;
}

.borderRadiusSlider {
  margin: 0.5rem;
  width: 100%;
}

.borderRadiusNumber {
  margin: 0.5rem;
  width: 3rem;
  text-align: center;
}

h3 {
  margin-top: 0;
  font-weight: 400;
}
