.borderRadiusSelector {
  display: flex;
  flex-direction: column;
}

.borderRadiusSelectorInput {
  display: flex;
  align-items: center;
}

.borderRadiusLabel {
  display: flex;
  justify-content: space-between;
}

.borderRadiusSlider {
  margin: 0.5rem;
  width: 100%;
}

.borderRadiusNumber {
  width: 3rem;
  text-align: center;
}

h3 {
  margin-top: 0;
  font-weight: 400;
}
