.borderRadiusSelector {
  display: flex;
  flex-direction: column;
}

.borderRadiusSelectorInput {
  display: flex;
  align-items: center;
}

.borderRadiusLabel {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}

.borderRadiusLabel label {
  margin-left: 1rem;
}

.borderRadiusSlider {
  margin: 0.5rem;
  width: 100%;
}

.borderRadiusNumber {
  width: 3rem;
  text-align: center;
}

.resetButton {
  margin-left: auto;
  color: var(--fds-colors-blue-700);
  border-radius: 4px;
}

.resetButton:hover {
  background-color: var(--fds-colors-blue-100) !important;
  color: var(--fds-colors-blue-800);
  border-radius: 4px;
}

.resetButton:active {
  background-color: var(--fds-colors-blue-200) !important;
  color: var(--fds-colors-blue-900);
  border-radius: 4px;
}
