.codeOutputContainer {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: #dcdcaa;
  padding: 16px;
  border-radius: 4px;
  font-family: 'Courier New', 'Courier', monospace;
  white-space: pre;
  overflow-x: auto;
  margin-bottom: 10px;
}

.tokenName {
  color: #4ec9b0;
}

.tokenValue {
  color: #ce9178;
}

.copyToClipboard {
  display: flex;
  justify-content: end;
}

.copyButtonIcon {
  color: #bebebe;
  padding: 0.5rem;
  cursor: pointer;
}

.copyButtonIcon:hover {
  color: white;
}

.generateCodeButton {
  align-self: center;
  margin-bottom: 5rem;
}

.generateCodeButton button {
  background-color: var(--fds-colors-blue-900);
  border-radius: 4px;
}

.generateCodeButton:hover button:hover {
  background-color: var(--fds-colors-blue-800);
}

.generateCodeButton:active button:active {
  background-color: var(--fds-colors-blue-900);
}
