.frontpageContainer {
  display: flex;
  background: #efefef;
}

.designMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-width: 35%;
}

.toggleGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.previewMenuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  align-items: center;
  width: 100%;
}
